<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>Phone Model Store Company</h5>
          <p>9th Sunset Blvd., Miami, USA</p>
          <p>Email: info@jarnosphonestore.com</p>
          <p>Phone: +46 409-777-11</p>
        </div>
        <div class="col">
          <h5>Quick Links</h5>
          <a href="#">Home</a> |
          <a href="#">Products</a> |
          <a href="#">Contact Us</a>
        <hr>
              <span class="text-muted">© 2023-2024 PMS Comp.</span>
            
        
        </div>
      </div>

    </div>
  </footer>