<section *ngIf="product">
	<div class="card">
	  <div class="prod-details-head">
		<h1 class="flexgrow9">{{product.name}}</h1>
		<button type="button" class="backbutton" (click)="goBack()"><i class="material-icons">close</i></button>
	  </div>
	  <div class="row">
		<div class="col-md-4">
		  <div *ngFor="let image of product.images">
			<img [src]="image" class="product-image">
		  </div>
		</div>
		<div class="col-md-8">
		  <div class="card-body">
			<h2>{{product.price | currency}}</h2>
			<p class="card-text">{{product.description}}</p>
			<p class="card-text">Materiaali: {{product.mainmaterial}}</p>
			<p class="card-text">Varastossa: {{product.varastossa}}</p>
			<button class="ostabutton" (click)="addToCart(product)">Osta</button>
			<p><a routerLink="/shipping">Toimitusmaksut</a></p>
		  </div>
		</div>
	  </div>
	</div>
  </section>