<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div *ngFor="let item of items" class="cartcard mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ item.images[0] }}" class="img-fluid rounded-start m-2" alt="{{ item.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Price: {{ item.price | currency }}</p>
              <p class="card-text">Material: {{ item.mainmaterial }}</p>
              <p class="card-text">OS: {{ item.os }}</p>
              <p class="card-text">In Stock: {{ item.varastossa ? 'Yes' : 'No' }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" role="group" aria-label="Quantity controls">
                  <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity(item)">-</button>
                  <span class="btn btn-outline-secondary disabled">{{ item.quantity }}</span>
                  <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity(item)">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cartcard mb-3">
        <div class="card-body text-center">
          <p class="mb-1">Total Items: {{ itemCount }}</p>
          <p class="mb-0">Total Price: {{ totalPrice | currency }}</p>
        </div>
      </div>

      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="cartcard">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-6 mb-3 mb-md-0">
              <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Etunimi</span>
                <input id="firstName" formControlName="firstName" class="form-control" aria-label="First Name" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Sukunimi</span>
                <input id="lastName" formControlName="lastName" class="form-control" aria-label="Last Name" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="inputGroup-sizing-default">Osoite</span>
              <input id="address" formControlName="address" class="form-control" aria-label="Address" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <button class="ostabutton" type="submit">Purchase
            <i class="bi bi-check"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>