<section class="ostoskori">

    <!-- Display a message after submitting the form -->
    <div *ngIf="orderSubmitted">
      <span class="kiitos">Kiitos tilauksesta!</span>
    </div>


  <h3>Ostoskorisi</h3>
  <p>
    <a routerLink="/shipping">Toimitusmaksut</a>
  </p>

  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nimi</label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="address">Osoite</label>
      <input id="address" type="text" formControlName="address">
    </div>
    <br>
    <button class="button" type="submit">Tilaa</button>
    <br><hr>
    <button class="button" routerLink="/">Takaisin kauppaan</button>
  </form>


</section>
