






.siteHeader{
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-top: 4px #f74f17 solid;
  border-bottom: 4px #f74f17 solid;
}
.siteHeader .siteLogo{
  margin: -100px;
}




      .card {
        border: 3px solid rgb(234, 232, 232);
        border-radius: 8px;
        margin: 4%;
        padding: 5px;
      }



      figure {
        width: 100%;
       /* border: black solid 1px; */
        padding: 0.1rem;
    }    
    figure img {
        max-width: 100%;   
    }

/*Keskellä olevat somelinkin*/
    .bi {
        padding: 5px;
        color: rgb(243, 103, 253);
    }
    .bit:hover {
      background-color: black;
      color: blanchedalmond;
      border-radius: 5px;
    }

    .bix {
      padding: 5px;
      color: rgb(87, 7, 96);
    }

    .bix:hover{
     background-color: black;
     color: blanchedalmond;
     border-radius: 5px;
    }

    .truefalse {
      border-radius: 10px;
      padding: 10px;
  }

  /* Button */
.bi {
  border-radius: 6px;
  box-sizing: border-box;
  color: #3d1c39;
  cursor: pointer;
  height: 30px;
  margin: 12px 0 0;
  padding: 0 25px;
  text-align: center;
  width: 100%;
}

.tuoteloppu {
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

  
}