<head>
  <meta charset="iso-8859-1" />
</head>

<header class="siteHeader">
  <img src="../../assets/kuvat/iso-iphone-xs.jpg" class="siteLogo" />
  <h1 class="overlay-text">Our phone models</h1>


</header>

<section class="kortit">
  <article class="card" *ngFor="let product of products">
    <div class="card-header mb-3">
    <h3 class="card-title">
      <a [routerLink]="['/products', product.id]">{{ product.name }} <i class="bi bi-arrow-right-short"></i></a>
    </h3>   
    </div>
    
    <figure class="card-img-top">
        <img [src]="product.images[0]">
    </figure>
    <div class="card-body">
      <p class="card-text">{{ product.description }}</p>
      <hr />
      <p class="card-text">{{ product.os }}</p>
      <p class="card-text"><small class="text-muted">{{ product.mainmaterial }}</small></p>
      <b class="card-text">{{ product.price | currency }}</b>
      <hr />
      <div class="somekuvake">
        <i class="fab fa-facebook" (click)="shareSome()"></i>        
        <i class="fab fa-google" (click)="shareSome()"></i>
        <i class="fab fa-tiktok" (click)="shareSome()"></i>
        <i class="fab fa-twitch" (click)="shareSome()"></i>
      </div>
      <button (click)="addToCart(product)" class="ostabutton">Osta <i class="bi bi-bag-plus"></i></button>
    </div>
  </article>
</section>