
body {
  margin: 0;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.main-productlist {
  display: flex;
  flex-direction: row;

}



/* Text */

h1 {
  font-size: 32px;
  padding-left: 14px;

}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 18px;
  
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}


/* cart lomakkeessa mm. name ja address tekstit */

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}


/* Button */
.ostabutton {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .ostabutton:disabled {
    cursor: default;
  }
  
  .ostabutton:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  .ostabutton:hover{
    background-color: #2544f1;
  }


  .kassabutton {

  appearance: none;
  background-color: #000000;
  border: 1px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 170px;
  will-change: transform;
}


.backbutton {
background-color: #f74f17;  
width: 44px;
height: 44px;
border-radius: 5px;
}
.backbutton:hover {
  background-color: transparent; 

}

/* Fancy Button */

.fancy-button {
  background-color: rgb(237, 238, 243);
  color: #3009bb;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 14px;
  border-radius: 5px;
  
}


/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #f74f17;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 

}

input {
  width: 25%;
  background-color: rgb(23, 111, 198);
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  transition: 0.5s;
  
}

input[type=text]:focus {
  border: 1px solid navy;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}


.footer {
  width: 100%;
  height: 38px;
  background-color: #f74f17;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}